.img2 {
    margin-top: 18px;
    max-width: 150px;
    height: auto;
}

.WholePerson {
    margin: 15px;
    background: #ac1f1f63;
    width: 30%;
    text-align: center;
}

.EveryoneLineOne {
    display: flex;
}


.EveryoneLineTwo {
    display: flex;
    justify-content: center;
}
